body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.bear {
  width: 300px;
  max-width: 80%;
  border-radius: 20px;
}

p {
  margin-top: 20px;
  font-size: 24px;
}
