body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.bear {
  width: 350px;       /* حجم أكبر للدبدوبين */
  max-width: 90%;     /* مناسب للموبايل */
  border-radius: 20px;
  margin-top: 10px;
  animation: float 2s infinite; /* حركة لطيفة */
}

/* حركة بسيطة (يهزون شويه) */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

p {
  margin-top: 20px;
  font-size: 24px;
}
